[Desktop Entry]
Version=1.0
Type=Application
Name=urltest
Comment=urltest
Exec=pake-urltest
Icon=urltest_512
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupNotify=true
